
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: purple;
  font-style: bold;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxd3ZoPlviVHwRMFiHttur7lpUrGVRNjOjJA&usqp=CAU');
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  text-align: center;
  margin-top: 50px;
  text-shadow: 2px 2px 8px #FF0000;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="number"],
input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 300px;
  max-width: 100%;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}


#result {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}
